.logo-ecotech {
    width: 150px;
    margin: 20px 0;
    display: block;
}

.sidebar img {
    width: 100%;
    margin: 0 auto 20px auto;
    display: block;
}

/* Configuração Base da Sidebar */
.sidebar {
    display: flex;
    gap: 15px;
    width: 280px;
    background-color: #fdfdfd;
    border-right: 1px solid #eee;
}

.sidebar .nav-link {
    color: #333;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 50px;
    margin-bottom: 5px;
    transition: 0.3s;
}

/* Hover e Item Ativo (Fundo Verde Escuro) */
.sidebar .nav-link:hover, 
.sidebar .nav-link.active {
    color: white;
    background-color: #066106;
}

/* Card de Destaque */
.sidebar-card {
    background-color: #f4f7f4;
    border-radius: 20px;
    color: #066106;
    padding: 15px;
    margin: 0 auto;
    border: 1px solid #eee;
}

.sidebar-card p {
    margin: 0 auto; 
    max-width: 130px; 
}

.sidebar-card i {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 5px;
}

/* Ajuste dos ícones */
.nav-link i {
    margin-right: 12px;
    width: 80%;
}
